body {
    background-color: lightgray;
}

#image {
    display: block;
    max-width: 100%;
    margin: 0px auto;
}

header, #img-div, main p {
    text-align: center;
}

.year {
    font-weight: 700;
}

main p {
    font-size: 40px;
    border: 2px solid black;
}

ul {
    font-size: 18px;
    font-family: sans-serif;
}

a:hover {
    color: red;
}

header p {
    font-size: 18px;
}

header {
    border: 2px solid black;
}
